<div class="login-content">
    <div class="login-content-header">
        <h1 class="header-title">2019年住院医师规范化培训年度业务水平测试（西医）</h1>
        <h2 class="header-subtitle">考生信息审核</h2>
    </div>
  <div class="zhupei">
    <div class="login-list">
      <ul>
        <!-- <li [ngClass]="{'active':singlechoice.active}"  *ngFor="let singlechoice of loginchoice;let i=index">
        {{singlechoice.name}}qqq
      </li> -->

        <li [ngClass]="{'active':item.active }" *ngFor="let item of loginchoice;let i =index" (click)="toggle(i)">
          {{item.name}}
        </li>

      </ul>
    </div>
    <div [ngClass]="{'hide': !loginchoice[0].active}">
      <p class="loginmessage">考试用户登录</p>
      <form nz-form (ngSubmit)="submitForm()" [formGroup]="loginForm" class="loginForm">
        <nz-form-item>

          <nz-form-label [nzSpan]="7" style="font-size: 16px;line-height: 30px;">省份</nz-form-label>
          <nz-form-control nzErrorTip="请选择省份" [nzSm]="14" [nzXs]="24">
            <nz-select style="width: 260px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择"
              formControlName="provincename" [(ngModel)]="singlePro">
              <nz-option *ngFor="let singlePro of provinceTextList" [nzValue]="singlePro.code"
                [nzLabel]="singlePro.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" style="font-size: 16px;line-height: 30px;">基地名称</nz-form-label>
          <nz-form-control nzErrorTip="请选择基地!" [nzSm]="14" [nzXs]="24">
            <nz-select style="width: 260px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择" formControlName="basename">
              <nz-option *ngFor="let singleBase of basename" [nzValue]="singleBase.code" [nzLabel]="singleBase.value"></nz-option>
            </nz-select>
          </nz-form-control>

        </nz-form-item>
        <nz-form-item>

          <nz-form-label [nzSpan]="7" style="font-size: 16px;line-height: 30px;">参培专业</nz-form-label>
          <nz-form-control nzErrorTip="请选择专业!" [nzSm]="14" [nzXs]="24">
            <nz-select style="width: 260px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择"
              formControlName="subjectname">
              <nz-option *ngFor="let singlesub of applyMajorList" [nzValue]="singlesub.code" [nzLabel]="singlesub.text">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>

          <nz-form-label [nzSpan]="7" style="font-size: 16px;line-height: 30px;">密码</nz-form-label>
          <nz-form-control nzErrorTip="请输入密码" [nzSm]="14" [nzXs]="24">
            <nz-input-group [nzSuffix]="suffixTemplate" style="width:260px;">
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="请输入密码" [(ngModel)]="password"
                style="border-radius:4px" name="password" formControlName="password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>

          <nz-form-label [nzSpan]="7" [nzNoColon]="true" (click)="createSecurityCode()"
            style="width:100px;height:35px;background:#ccc;cursor: pointer;
          font-size: 16px;margin-left:144px;float: left;text-align: center;line-height: 35px;color:#fff;margin-top:3px;">{{code}}</nz-form-label>
          <nz-form-control  [nzSm]="10" [nzXs]="24">
            <nz-input-group [nzSuffix]="suffixTemplate" style="width:260px;">
              <input [type]='text' nz-input placeholder="请输入验证码" [(ngModel)]="yzmcode"
                style="width: 160px;height:35px;margin-left: 20px;border-radius:0 " name="password"
                formControlName="yzmcode" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <!-- <nz-form-item>
        <nz-form-label  [nzSpan]="7" [nzNoColon]="true" (click)="createSecurityCode()" style="width:100px;height:35px;background:#ccc;cursor: pointer;
        font-size: 16px;margin-left:20px;float: left;text-align: center;line-height: 35px;color:#fff">{{code}}
        </nz-form-label>
        <nz-form-control nzErrorTip="请输入验证码!" [nzSm]="14" [nzXs]="24">
            <nz-input-group [nzSuffix]="suffixTemplate" >
          <input [type]="text " nz-input placeholder="请输入验证码" [(ngModel)]="yzmcode"
            style="width: 160px;height:35px;margin-left: 20px;border-radius:0 " formControlName="yzmcode" />
          <!-- <p >
            <span></span>
          </p> 
        </nz-input-group>
        </nz-form-control>

      </nz-form-item> -->
        <nz-form-item>
          <button nz-button nzType="primary" nzBlock style="margin-left: 0;width:80%;margin:0 10%">
            登陆
          </button>
        </nz-form-item>
      </form>
    </div>
    <div [ngClass]="{'hide': !loginchoice[1].active}">
      <p class="loginmessage">测试用户登录</p>
      <form nz-form (ngSubmit)="submitForm()" [formGroup]="loginForm" class="loginForm">
        <nz-form-item>

          <nz-form-label [nzSpan]="7" style="font-size: 16px;line-height: 30px;width:23%">省份</nz-form-label>
          <nz-form-control nzErrorTip="请选择省份" [nzSm]="14" [nzXs]="24">
            <nz-select style="width: 260px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="selectedValue"
              formControlName="provincename">
              <nz-option *ngFor="let singlePro of proviceArray" [nzValue]="singlePro.code" [nzLabel]="singlePro.name">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" style="font-size: 16px;line-height: 30px;width:23%">基地名称</nz-form-label>
          <nz-form-control nzErrorTip="请选择基地!" [nzSm]="14" [nzXs]="24">
            <nz-select style="width: 260px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="selectedValue"
              formControlName="basename">
              <nz-option *ngFor="let singleBase of basename" [nzValue]="singleBase" [nzLabel]="singleBase"></nz-option>
            </nz-select>
          </nz-form-control>

        </nz-form-item>
        <nz-form-item>

          <nz-form-label [nzSpan]="7" style="font-size: 16px;line-height: 30px;width:23%">参培专业</nz-form-label>
          <nz-form-control nzErrorTip="请选择专业!" [nzSm]="14" [nzXs]="24">
            <nz-select style="width: 260px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="selectedValue"
              formControlName="subjectname">
              <nz-option *ngFor="let singlesub of subject" [nzValue]="singlesub" [nzLabel]="singlesub"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>

          <nz-form-label [nzSpan]="7" style="font-size: 16px;line-height: 30px;width:23%">密码</nz-form-label>
          <nz-form-control nzErrorTip="请输入密码" [nzSm]="14" [nzXs]="24">
            <nz-input-group [nzSuffix]="suffixTemplate" style="width:260px;">
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="请输入密码" [(ngModel)]="password"
                style="border-radius:4px" name="password" formControlName="password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>

          <nz-form-label [nzSpan]="7" [nzNoColon]="true" (click)="createSecurityCode()"
            style="width:100px;height:35px;background:#ccc;cursor: pointer;
            font-size: 16px;margin-left:66px;float: left;text-align: center;line-height: 35px;color:#fff;margin-top:3px;">{{code}}</nz-form-label>
          <nz-form-control nzErrorTip="请输入验证码" [nzSm]="10" [nzXs]="24">
            <nz-input-group [nzSuffix]="suffixTemplate" style="width:260px;">
              <input [type]='text' nz-input placeholder="请输入验证码" [(ngModel)]="yzmcode"
                style="width: 160px;height:35px;margin-left: 20px;border-radius:0 " name="password"
                formControlName="yzmcode" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <!-- <nz-form-item>
          <nz-form-label  [nzSpan]="7" [nzNoColon]="true" (click)="createSecurityCode()" style="width:100px;height:35px;background:#ccc;cursor: pointer;
          font-size: 16px;margin-left:20px;float: left;text-align: center;line-height: 35px;color:#fff">{{code}}
          </nz-form-label>
          <nz-form-control nzErrorTip="请输入验证码!" [nzSm]="14" [nzXs]="24">
              <nz-input-group [nzSuffix]="suffixTemplate" >
            <input [type]="text " nz-input placeholder="请输入验证码" [(ngModel)]="yzmcode"
              style="width: 160px;height:35px;margin-left: 20px;border-radius:0 " formControlName="yzmcode" />
            <!-- <p >
              <span></span>
            </p> 
          </nz-input-group>
          </nz-form-control>
  
        </nz-form-item> -->
        <nz-form-item>
          <button nz-button nzType="primary" nzBlock style="margin-left: 0;width:80%;margin:0 10%">
            登陆
          </button>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>